In [0]:
#Kalan 3 sütunluk verimizle , değişkenlere atadığımız diğer sütunları birleştirelim
#pandas.concat birleştirmek istediğimiz df'leri liste içinde kabul eder.
#axis=1 yine sütun olarak yani yanyana birleştir anlamına gelir.
dataframe = pd.concat([df,df_car_maker,df_model,df_condition,df_transmission,df_color,df_pay_method],axis=1)

In [13]:
dataframe.head()   #Evet başarıyla yanyana birleştirdik.

   year  kilometers  ...  Cash or Installments  Installments Only
0  2019     14999.5  ...                     1                  0
1  2006         0.0  ...                     0                  0
2  2014     24999.5  ...                     0                  1
3  2010    200000.0  ...                     0                  0
4  2018      5000.0  ...                     0                  0

[5 rows x 53 columns]

In [17]:
#Şimdi biraz ellerimizi kirletelim. Price tahmini yapacağımız için price'ın en son sütunda olmasını istiyorum.
#Öncelikle sütun isimlerimizi çekelim ve liste halinde depolayalım
dataframe_columns_list = list(dataframe.columns.values)
dataframe_columns_list

['year',
 'kilometers',
 'price',
 'BMW',
 'Cadillac',
 'Dodge',
 'Ford',
 'GMC',
 'Kia',
 'Mazda',
 'Nissan',
 'Renault',
 'Suzuki',
 'Toyota',
 '3',
 '730',
 '740',
 'Avalon',
 'Camry',
 'Carnival',
 'Crown Victoria',
 'Dokker Van',
 'Durango',
 'Envoy',
 'Escalade',
 'Expedition',
 'Explorer',
 'Fortuner',
 'Fusion',
 'Opirus',
 'Other',
 'Patrol',
 'Prado',
 'Rio',
 'Rush',
 'Symbol',
 'Taurus',
 'X5',
 'Yaris',
 'New',
 'Used',
 'Automatic',
 'Manual',
 'Beige',
 'Black',
 'Brown',
 'Green',
 'Grey',
 'Silver',
 'White',
 'Cash Only',
 'Cash or Installments',
 'Installments Only']

In [18]:
dataframe_columns_list.remove('price')   #price değerini listeden sildik.
dataframe_columns_list.append('price')   #append metoduyla 'price' değerini listenin en sonuna geri koyduk.
dataframe_columns_list                   #evet price en sona başarıyla gitmiş

['year',
 'kilometers',
 'BMW',
 'Cadillac',
 'Dodge',
 'Ford',
 'GMC',
 'Kia',
 'Mazda',
 'Nissan',
 'Renault',
 'Suzuki',
 'Toyota',
 '3',
 '730',
 '740',
 'Avalon',
 'Camry',
 'Carnival',
 'Crown Victoria',
 'Dokker Van',
 'Durango',
 'Envoy',
 'Escalade',
 'Expedition',
 'Explorer',
 'Fortuner',
 'Fusion',
 'Opirus',
 'Other',
 'Patrol',
 'Prado',
 'Rio',
 'Rush',
 'Symbol',
 'Taurus',
 'X5',
 'Yaris',
 'New',
 'Used',
 'Automatic',
 'Manual',
 'Beige',
 'Black',
 'Brown',
 'Green',
 'Grey',
 'Silver',
 'White',
 'Cash Only',
 'Cash or Installments',
 'Installments Only',
 'price']

In [19]:
#Bu bilgi stackoverflow'dan alınmıştır. Sütun sırasını değiştirme formulü --> df = df[[sütun_listesi]]

dataframe = dataframe[dataframe_columns_list]   #Yeni sütun sıralamamızı
dataframe.head()

   year  kilometers  BMW  ...  Cash or Installments  Installments Only    price
0  2019     14999.5    0  ...                     1                  0  58375.0
1  2006         0.0    0  ...                     0                  0  10000.0
2  2014     24999.5    0  ...                     0                  1  58375.0
3  2010    200000.0    0  ...                     0                  0  22425.4
4  2018      5000.0    0  ...                     0                  0  22425.4

[5 rows x 53 columns]